* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: mintcream ;
}


.navbar{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.navbar a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    color: mintcream;
}

.navbar a:hover{
    background: #ddd;
    color: black;
}


.main{
    margin-top: 30px;
    padding: 0;
    height: 1500px;
}

.header{
    text-align: center;
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    /*border-radius: 10px;*/
    background-size: cover;
    padding: 230px;
    background-attachment: fixed;
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}


.font1 , .font2 , .font3 , .font4{
    /*border-radius: 20px;
    background-image: url("img.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: solid dimgray;*/
    background-size: cover;
    background-color: #ddd;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    /*color: whitesmoke;*/
     color: rgb(85, 83, 67);
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    padding-top: 60px;
    padding-bottom: 60px;
}

.font1 h2 , .font2 h2 , .font3 h2 , .font4 h2{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: 2000;
    color: black;
    background-color: beige;
}

/*.font2 ul{
    text-align: left;
}*/

/*.second{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: yellow;
}*/

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .skill-box span {
    line-height: 80px;
    margin: 10px;
    padding: 10px 30px;
    background: darkgray;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    font-family: "Roboto", sans-serif;
    border: 2px solid #bdbdbd;
  }

